/* - Scissors Gradient: #ec9e0e to #eca922;
- Paper Gradient:  #4865f4 to #5671f5;
- Rock Gradient: #dc2e4e to #dd405d;
- Lizard Gradient:  #834fe3 to #8c5de5;
- Cyan: #40b9ce to #52bed1;

### Neutral

- Dark Text: #3b4363;
- Score Text: #2a46c0;
- Header Outline:  #606e85;

### Background

- Radial Gradient: #1f3756 to #141539;  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #fff;
  background-image: radial-gradient(#1f3756, #141539);
  position: relative;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  justify-content: center;
  width: 60rem;
}
.header {
  margin-top: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fafafa;
  padding: 1rem;
}
.heading__box {
}
.heading__text {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
}
.score__box {
  background-color: #fff;
  padding: 1rem 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.score__heading {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #2a46c0;
  text-transform: uppercase;
}
.score__count {
  color: #606e85;
  font-size: 5rem;
  font-weight: 700;
}

.section {
  display: flex;
  justify-content: center;
}
.section__container {
  background-image: url(../images/bg-triangle.svg);
  height: 30rem;
  width: 32rem;
  background-size: cover;
  position: relative;
}
.game__img {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.paper__img {
  padding: 3.45rem 3.95rem;
  border: 1.4rem solid #4865f4;
  top: -6rem;
  left: -6rem;
}

.scissors__img {
  padding: 3.5rem 3.85rem;
  border: 1.4rem solid #ec9e0e;
  top: -6rem;
  right: -6rem;
}

.rock__img {
  padding: 4rem;
  border: 1.4rem solid #dc2e4e;
  bottom: -6rem;
  left: 50%;
  transform: translate(-50%);
}

.rules {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  align-self: flex-end;
  margin-top: 5rem;
  margin-right: 3rem;
  cursor: pointer;
}

.rules__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem 4rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;
  z-index: 2;
  display: none;
}
.rules__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rules__heading {
  color: #606e85;
  font-size: 2rem;
  text-transform: uppercase;
}

.close__icon {
  cursor: pointer;
}

.rules__img {
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007e;
  transition: opacity 0.3s;
  border-radius: 1.5rem;
}

/* STEP 2 */

.pick__section-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 30rem;
  align-items: center;
  display: none;
}
.you__picked,
.house__picked {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.picked__heading {
  font-size: 2rem;
  text-transform: uppercase;
}
.you__picked-img,
.house__picked-img {
  height: 14rem;
  width: 14rem;
  background-color: #1415394b;
  border-radius: 50%;
  position: relative;
  background-size: cover;
}

.chosen__img {
  padding: 4.45rem 4.95rem;
  top: -2rem;
  left: -2rem;
  position: relative;
}
.chosen__rock-img {
  top: -1rem;
  left: 7rem;
  position: relative;
  padding: 4.45rem 4.95rem;
}

.bg-1 {
  position: absolute;
  top: -3.5rem;
  left: -3.5rem;
  height: 21rem;
  width: 21rem;
  border-radius: 50%;
  z-index: -1;
  background-color: #ffffff12;
}
.bg-2 {
  position: absolute;
  top: -7rem;
  left: -7rem;
  height: 28rem;
  width: 28rem;
  border-radius: 50%;
  z-index: -2;
  background-color: #ffffff0d;
}

.bg-3 {
  position: absolute;
  top: -10.5rem;
  left: -10.5rem;
  height: 35rem;
  width: 35rem;
  border-radius: 50%;
  z-index: -3;
  background-color: #ffffff08;
}

/* WIN SECTION */
.win__section,
.lose__section,
.draw__section {
  height: 30rem;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.win__heading,
.lose__heading,
.draw__heading {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.win__box,
.lose__box,
.draw__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  background-color: #fff;
  font-size: 1.2rem;
  padding: 0.8rem 3rem;
  border: 0;
  outline: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.win__btn {
  color: #4865f4;
}

.lose__btn {
  color: #dc2e4e;
}

.win__section,
.draw__section,
.lose__section,
.pick__section-1 {
  display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 40.625em) {
  .container {
    align-items: center;
    padding: 2rem;
    justify-content: center;
    width: 100vw;
  }
  .header {
    margin-top: 0;
    align-self: stretch;
  }

  .pick__section-1 {
    width: 80vw;
  }

  .win__section,
  .lose__section,
  .draw__section {
    width: 80vw;
    align-self: center;
    gap: 1rem;
  }
  .you__picked-img,
  .house__picked-img {
    background-color: #1415394b;
    border-radius: 50%;
    position: relative;
    background-size: cover;
  }

  .chosen__img {
    padding: 3.45rem 3.95rem;
    top: 0;
    left: 0;
    position: relative;
  }
  .chosen__rock-img {
    top: 0;
    left: 0rem;
    position: relative;
    padding: 3.45rem 3.95rem;
  }

  .game__img {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
  }

  .paper__img {
    padding: 2.45rem 2.95rem;
    border: 1.4rem solid #4865f4;
  }

  .scissors__img {
    padding: 2.5rem 2.85rem;
    border: 1.4rem solid #ec9e0e;
  }

  .rock__img {
    padding: 3rem;
    border: 1.4rem solid #dc2e4e;
    bottom: -5rem;
    left: 50%;
    transform: translate(-50%);
  }
}

@media only screen and (max-width: 28.25em) {
  html {
    font-size: 50%;
  }

  .btn {
    font-size: 1rem;
  }
}

/* 
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
